<%- include("partials/header") %>

  <h1>
    <%= event.name %>
  </h1>

  <p class="join-code">
    Join Code: <strong>
      <%= event.join_code %>
    </strong>
  </p>

  <div class="event-layout">

    <div class="members">

      <h3>Members</h3>

      <ul>

        <% members.forEach(member=> { %>

          <li>
            <%= member.email %>
          </li>

          <% }) %>

      </ul>

    </div>

    <div class="expenses">

      <h3>Expenses</h3>

      <% expenses.forEach(exp=> { %>

        <div class="expense-card">

          <span>
            <%= exp.description %> - ₹<%= exp.amount %>
          </span>

          <form action="/expenses/delete/<%= exp.id %>" method="POST">
            <button class="btn-danger">Delete</button>
          </form>

        </div>

        <% }) %>

    </div>

  </div>

  <%- include("partials/footer") %>